.nav--container{
    display: flex;
    justify-content: space-between;
}

.shoppingCart{
    margin-top: 2rem;
    font-size: 30px;
}

.nav--links--container{
    display: flex;
    justify-content: space-around;
}

.store--items{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card--img{
    max-width: 10rem;
}

.card--container{
    text-align: center;
    width: 300px;
    box-shadow: 5px 5px 10px black;
}

.card--container:hover{
    box-shadow: 20px 20px 30px black;
}

.card--button{
    cursor: pointer;
    margin-bottom: 10px;
}