* { margin: 0; padding: 0; font-family: 'Montserrat';}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #77acb4;
}

.nav--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a8dee6;
    width: 100%;
}

.shoppingCart{
    font-size: 35px;
    align-self:flex-start;
    text-decoration: none;
    color: inherit;
}

.nav--title{
    margin-left: 48%;
    align-self: center;
}

.nav--links--container{
    display: flex;
    justify-content: space-around;
    background-color: #a8dee6;
    font-size: 30px;
}

.nav--badge{
    margin-top: 15px;
    margin-right: 40px;
}

.store--items{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card--img{
    max-width: 10rem;
}

.card--container{
    text-align: center;
    width: 300px;
    box-shadow: 5px 5px 10px black;
    background-color: #dbffff;
}

.card--container:hover{
    box-shadow: 20px 20px 25px black;
}

.card--button{
    cursor: pointer;
    margin-bottom: 10px;
}

.card--amount{
    text-align: center;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
}

.card--incdec{
    width: 7%;
}